/* style.css
 * This file provides css styles.
 */

body,html {
	/* background-color: #3b4b54; width : 100%; */
	/* background: lightslategrey;  */
	/* height: 100%; */
	/* margin: 0 auto; */
	/* font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
	/* color: #ffffff;
	 */
	 height: 100%;
  margin: 0;
  font-family: "Open Sans",arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
  color:#000;
}
table
{
	/* background-color:#ccc9c9; */
	/* background-color: rgba(105, 104, 104, 0.5) !important; */
	background-color: #0c8573;
	table-layout: fixed;
	width: 800px;
	margin: 0 auto;
	word-wrap: break-word;
	padding-top:10%;
	border-collapse: collapse;
}
a {
	text-decoration: none;
	color: #00aed1;
}

a:hover {
	text-decoration: underline;
}

.newappIcon {
	padding-top: 10%;
	display: block;
	margin: 0 auto;
	padding-bottom: 2em;
	max-width:200px;
}

h1 {
	font-weight: bold;
	font-size: 2em;
}

.leftHalf {
	float: left;
	background-color: #26343f;
	width: 45%;
	height: 100%;
}

.rightHalf {
	float: right;
	width: 55%;
	background-color: #313f4a;
	height: 100%;
	overflow:auto;
}






th {
	border-bottom: 1px solid #000;
}

th, td {
	text-align: left;
	padding: 2px 20px;
}

.env-var {
	text-align: right;
	border-right: 1px solid #000;
	width: 30%;
}

pre {
	padding: 0;
	margin: 0;
}

  
  table, th, td {

	border: 1px solid black;
	/* border-radius: 5%; */
	padding: 10px;
	font-style: italic;
	font-weight: bold;
  }
  
html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{
height: 100%;
align-content: center;
}

.card{
height: 370px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: white;
background-color: #058095;
/* width: 100px; */
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
.deakin_img{
	text-align: center;
}
.deakin_img img{
	
	position: relative;
	height: 128px;
	width:128px;
	margin: 40px;
	margin-top:0px; 
}
.csv
{
	width:30px;
	float: right;
	border-radius: 50%;
}
	
.deakin_header
{
	/* position: absolute; */
    z-index: 710;
	/* margin-left: -35px; */
	margin-bottom: 40px;
	float: right;
    /* padding-left: 35px; */
    width: 100%;
    height: 75px;
    background-color: #0c8573;
    border-radius: 70px 0 0 70px;
    -ms-transform: translateX(0);
    transform: translateX(0);
	transition: transform .5s ease;
	text-align: left;
}
.deakin_header_image{
	position: relative;
	height: 45px;
    margin: 15px;
}
.search
{
	float: right;
    height: 75px;
    font-size: 35px;
    width: 600px;
    border-radius: 70px 70px 70px 70px;
    margin: 25px;

}
.bg-image {
	/* The image used */
	background-image: url("/images/deakin_bg.jpg");
	
	/* Add the blur effect */
	filter: blur(8px);
	-webkit-filter: blur(8px);
	
	/* Full height */
	height: 100%; 
	
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
  }
.bg-text {
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgb(255, 255, 255); /* Black w/opacity/see-through */
	color:black;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	/* width: 500px; */
	padding: 40px;
	text-align: center;
  }
  .labels
  {
	display: block;
    margin-bottom: 4px;
	font-family: "Open Sans",arial,sans-serif;
	font-size: 12;
    text-align: left;
    color: #404040;
  }    
 .login_form
 { padding: 40px;
	padding-bottom:60px; 
    background-color: #e5e5e5;
 }
/* background: #e1e1e1; */
/* font-family: Worldly Light,Open Sans,Arial,sans-serif; */
/* #e5e5e5 */
/* Check Id */
.btn-style {
    width:80px;
    height:80px;
    margin-left:5px;
    border-radius:4px;
}

.eqn {
    width:50px;
    height:50px;
    margin-left:5px;
    border-radius:4px;
}

.first-child {
 margin-left:25px;
}


/* Adding background color to the number values */
 .num-bg {
    background:#0c8573;
    color:#fff;
    font-size:42px;
    cursor:pointer;
    outline:none;
    border-bottom:3px solid #333;
}

 .num-bg:active {
    background:#0c8573;
    color:#fff;
    font-size:26px;
    cursor:pointer;
    outline:none;
    box-shadow: inset 5px 5px 5px #555;
}

/*Adding background color to the operator values */ 
.opera-bg {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #555;
}

.opera-bg:active {
    background:#333;
    color:#fff;
    font-size:26px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #555;
}

/*Adding a background color to the delete button */
.del-bg {
	/* background:#24b4de; */
	background:#0c8573;
    color:#fff;
    font-size:36px;
    cursor: pointer;
    outline:none;
    border-bottom:3px solid #399cb9;
}

.del-bg:active {
    background:#0c8573;
    color:#fff;
    font-size:34px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #399cb9;
}

/*Adding a background color to the equals to button */
#eqn-bg {
    background:#17a928;
    color:#fff;
    font-size:36px;
    cursor: pointer;
    outline:none;
	border-bottom:3px solid #1f7a29;
	border-radius: 5px;
}

#eqn-bg:active {
    background:#17a928;
    color:#fff;
    font-size:34px;
    cursor: pointer;
    outline:none;
    box-shadow: inset 4px 4px 4px #1f7a29;
}
.resultBar
{
	font-size: -webkit-xxx-large;
    border: 1px solid;
    height: 70px;
    width: 400px;
	text-align: center;
	margin-left: 394px;
	background-color: white;
	/* display: inline-block; */
}
button
{
	border-radius: 5px;
}
.rows
{
	text-align: center;
}
.main-bg
{
	background-color: rgb(231, 231, 231);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
	/* background-color: transparent; */
	background-color: #0c8573;
	color: white;
	border:1px solid  #0c8573;
	font-weight: bold;
}
.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    color: #0c8573;
    font-weight: bold;
}